.passwordReset{
background-color:  #F6F6F6;
width: 100%;
height: 100vh;
}
.passwordReset .resetContainer{
    width: 350px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.passwordReset img{
    width: 250px;
    height: 180px;
}
.passwordReset .title{
    font-weight: 600;
    margin: 12px 0px;
}
.passwordReset .subTitle{
    font-size: 14px;
    margin-bottom: 32px;
}
.passwordReset .subTitle span{
    color: rgb(10 157 89);
}

.passwordReset .inputWrapper{
    margin-bottom: 28px;
    
}