/* .SideDrawer {
    width: 290px;
    height: 100%;
    background: #ffffff;
    position: fixed;
    margin-top: 60px;
    margin-left: 0;
  }
.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height:80px;
    border-bottom: 1px solid #E6E6E6;

}
.Logo > img{
    height: 40px;
    object-fit: contain;
}

.Link,
.SubLink {
  padding: 6px;
  
}



.Icon {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;

}

.HasSubList {
}

.SubListItems {
  margin-left: 25px;
}
 */

.sidebar {
  height: calc(100vh - 60px);
  width: 300px;
  background: white;
}
.sideNavLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  object-fit: contain;
  border-bottom: 1px solid #e6e6e6;
}
.sideNavLogo img {
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}
.listContainer {
  padding: 10px 15px;
}
.listItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #41404b;
  margin: 15px 0px;
  cursor: pointer;
}
.listItem:hover {
  color: #000000;
  font-weight: 500;
}
/* .listItem span{
  font-size: 14px;
  font-weight:600;
  color: #000000;
} */

.listContainer a {
  text-decoration: none !important;
}
.listItem img {
  height: 20px;
}
.subListContainer {
  margin: 0px 20px;
}

/* rotate icon */

.listItem svg {
  transition: all 0.25s ease;
}
.listItem .rotate svg {
  transform: rotate(180deg);
}

/* padding-left: 10px */
